@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  display: flex;
  align-items: center;
  /* flex-flow: column wrap; */
}

.app-header__title {
  text-align: center;
  margin: 10px 20px 20px;
}

.app-header__controls {
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 2px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #d1ed58;
  outline: none;
}

.add-new:hover {
  background-color: #abce15;
}

.notes-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 30px;
}

ul {
  padding-inline-start: 0;
}

.note {
  font-family: "Oooh Baby", cursive;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ffff99;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
 
}

.note__title,
.note__description {
  font-family: "Oooh Baby", cursive;
  font-weight: bold;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}


/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  padding-top: 10rem;
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}